<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--开启二级缓存 使用需要在需要的namespace下添加<cache/>标签，不过mybatis二级缓存有些问题。就不开了，使用redis切入dao缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!-- 指定日志框架为LOG4J2-->
        <setting name="logImpl" value="LOG4J2" />
    </settings>

    <typeAliases><!--别名扫描-->
        <package name="fishblog.pojo"/>
    </typeAliases>

    <!--分页插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
        </plugin>
    </plugins>

</configuration>